#courseForm{
    -fx-border-color: #42d469;
    -fx-border-radius: 15;
}

#txtProgramID,
#txtProgramName,
#txtProgramFee,
#txtDuration{
    -fx-border-color: #42d469;
    -fx-border-width: 2px;
}

#saveBtn,
#updateBtn,
#deleteBtn,
#clearBtn{
    -fx-background-color: #42d469;
    -fx-text-fill: white;
}

.table-view .column-header{
    -fx-background-color: #42d469;
}