#sidebar{
    -fx-background-color: green;
    -fx-background-radius: 30;
}
#countSection{
    -fx-background-color: #f5674e;
    -fx-background-radius: 30;
}

#graphSection{
    -fx-background-color: #dbdcdc;
    -fx-background-radius: 30;
}
#dashboardBtn,
#userBtn,
#studentBtn,
#courseBtn,
#paymentBtn,
#registrationBtn{
    -fx-text-fill: white;
    -fx-font-weight: 700;

}

#count1,
#count2,
#count3{
    -fx-text-fill: #6b419e;
    -fx-font-weight: 100;
}

#studentCard,
#courseCard,
#registerCard{
    -fx-background-color: #dbdcdc;
    -fx-background-radius: 30;
}