#studentForm{
    -fx-border-color: #42d469;
    -fx-border-radius: 15;
}
#txtStudentId,
#cmbUser,
#txtStudentName,
#txtEmail,
#txtAddress,
#txtContact{
    -fx-border-color: #42d469;
    -fx-border-width: 2px;
}

#saveBtn,
#updateBtn,
#deleteBtn,
#clearBtn{
    -fx-background-color: #42d469;
    -fx-text-fill: white;
}

#viewBtn {
    -fx-background-color: grey;
    -fx-text-fill: white;
}

#searchBtn{
    -fx-background-color: #42d469;
    -fx-text-fill: white;
}
.table-view .column-header{
    -fx-background-color: #42d469;
}